
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="products">
    <div class="container">
        <h2>@ViewBag.Message</h2>
    </div>
</div>*@
<main id="main">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/Home/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">

        </div>
    </section>
   
    <center><h2>@ViewBag.message</h2></center>

</main>
